{% extends 'base.html' %}


{% block content %}
    <h1>Получить доступ на вайтлист</h1>
    <div class="text-center justify-content-center">
        <form class="needs-validation" method="POST" novalidate>
            {% csrf_token %}
            <label for="twitch-username" class="text-light">Ваш юзернейм в Майнкрафт</label>
            <input class="form-control" type="text" id="twitch-username" name="mc-username" maxlength="100" required>
            <div class="invalid-feedback">
                Это поле обязательно.
            </div>

            <input value="{{ twitch_id }}" name="id" hidden>
            <button type="submit" class="mt-2 btn btn-primary">Подтвердить</button>
        </form>
    </div>
{% endblock %}
